* {
    /*need to confirm fonts. code taken from previous project as filler for now*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:0px;

  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

ul{
    display: inline;
}


li{
    list-style-type: none;
    
}

  
header {
    
    height: 100px; /* will need to be reduced once the rest of the code is complete*/
    width:100%;
    margin-bottom: 10px;
    /*padding: 10px;*/ /*issue with the spacingn at the top of the page - can see things scroll behind at the top and sides*/
    background-color: teal;
    color: white;
    /*display: inline;*/
    /*when adding "" i loose the background color.*/
}


h1{
    float: left;
    display: inline
}
.seo {
    color: gray;
}



nav {
    width: 800px;
    color: white;
    float: right;
    display: inline;
}

/*
img{
    width: 300px;
    height: 200px;
}

.box{
    background-color: beige;
}

section{
    background-color: blue;
}

.left{
    float: left;
}

.right{
    float: right;
}

.RHS{
    background-color: aqua;
}
*/