/*Universal Selector*/

* {
    /*need to confirm fonts. code taken from previous project as filler for now*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:0px;
    color: white;

  }

/*Element Selectors*/

/*Possible future header developments - make it sticky so it scrolls with the page.*/
header {
    display: flex;
    padding: 20px 10px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #2a607c;
  }

/*h1 split to allow for variotion of colour in letters S-E-O*/
h1 {
    display: flex;
    padding: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

.seo {
    color: #DCDFD7;
}

/*Navigation required breaking up due to the links within. Future development ideas - look at creating a highlight as you over over it, possibly into a button?*/
.nav{
    display: flex;
}

li{
    margin: 10px;
    list-style-type: none;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

/*Cover Image = hero*/  
.hero img{
    width:100%
}

/*Main body of text. Future developements require looking at image size also being responsive.*/
.main{
    background-color: #D9DCD6;
    display: flex;
}

.card img{
    width: 40%;
}

.card{ 
    width: 70%;
}
/*following class selectors are within main*/
.right img{
    order: 1;
}

.left{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    height:auto;
    align-items: center;
    background-color: #0072BB;
}

.right{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    height:auto;
    align-items: center;
    background-color: #0072BB;
}

.left article {
    padding-left: 10px;
}

p{
    width:90%;
    padding-top: 20px;
}


/* Aside styling*/
.aside img{
    max-width: 150px;
    display: block;
    margin: 10px auto;

}

.aside {
    margin: 10px;
    width: 27%;
    background-color: #3E89BD;
    padding: 10px;
}

.aside h3{
    margin-top: 20px;
    text-align: center;
}

/*footer - contains bug. Cannnot make p black when styled as part of the footer element. Have separated for now.  */
.footer h2 {
    color: black;
}

.footer p {
    color: black;
}  */
