/*Universal Selector*/

* {
    /*need to confirm fonts. code taken from previous project as filler for now*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:0px;
    color: white;

  }

/*Element Selectors*/

/*Possible future header developments - make it sticky so it scrolls with the page.*/
header {
    overflow: hidden;
    background-color: #2a607c;
    padding: 20px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /*h1 split to allow for variotion of colour in letters S-E-O*/
h1 {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    display: flex;

  }

.seo {
    color: #DCDFD7;
}

/*Navigation required breaking up dur to the links within. Future development ideas - look at creating a highlight as you over over it, possibly into a button?*/

nav {
    display: flex;
    float: right;
  }

ul{
    display: flex;
}

li{
    margin: 10px;
    list-style-type: none;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

/*Cover Image*/  
.welcome img{
    width:100%
}

/*Main body of text all within "box", split into two columns. Columns responsive to size. Future developements require looking at image size also being responsive.*/
.box{
    background-color: #D9DCD6;
}


.column1 img{
    width: 300px;
    height: 200px;

}

.column1{ 
    width: 70%;

    float: left;
    
}
/*following class selectors are within column1*/
.left img{
    float: left;
   
}
.right img{
    float: right;
    order: 3;
}

.left{
    height:auto;
    background-color: #0072BB;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.right{
    height:auto;
    background-color: #0072BB;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.left div {
    display: block;
    padding-left: 10px;
}

.right div {
    display: block;
}

.left p{
    width:90%;
    vertical-align: middle;
    padding-top: 20px;
}

.right p{
    width:90%;
    vertical-align: middle;
    padding-top: 20px;
    
}


.column2 img{
    width:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column2 {
    float: right;
    width: 29%;
    background-color: #3E89BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
}

h3{
text-align: center;
}

.lead{
    padding: 20px;
    display: block;
}

.brand{
    padding: 20px;
    display: block;
}

.cost{
    padding: 20px;
    display: block;
}

/*footer*/
.footer{
    color: black;
    display:block
}